\<div class="container-fluid">
	<div class='row'>
		<div class='header'></div>
	</div>
	<div class='row'>
		<div class="col-md-1 left-bar">
			<div class='row'>
				<button (click)='openComposeBox()'>Compose</button>
			</div>
			<div class='row pointer' [ngClass]="{'dark':placeholderName=='inbox'}" (click)='getPlaceholderMails("inbox")'>
				Inbox
			</div>
			<div class='row pointer' [ngClass]="{'dark':placeholderName=='sent_mail'}" (click)='getPlaceholderMails("sent_mail")'>
				Sent Mails
			</div>
			<div class='row pointer' [ngClass]="{'dark':placeholderName=='drafts'}" (click)='getPlaceholderMails("drafts")'>
				Drafts
			</div>
			<div class='row pointer' [ngClass]="{'dark':placeholderName=='trash'}" (click)='getPlaceholderMails("trash")'>
				Trash
			</div>
		</div>
		<div class='col-md-11'>
			<div class='overlay' *ngIf='showLoader'>
				<div class='loader'></div>
			</div>
			<div class='mail-box' *ngIf='!showLoader'>
				<div class='row mail-row' *ngFor='let mail of mails' (click)='openMailView(mail)' [ngClass]="{'read':mail.is_read !==0}">
					<div class='col-md-9'>
						<b>{{mail.message.subject}}</b>&nbsp;&nbsp;<span>{{mail.message.body}}</span>
					</div>
					<div class='col-md-3'>
						<p>
							{{mail.message.date | date:'dd/MM/yyyy HH:MM'}} &nbsp; &nbsp;
							<span class='trash' (click)='trashIt(mail)'><i class='fa fa-trash'></i></span>
						</p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<app-modal #composeModel> 
	<div class="app-modal-header">
		Compose Mail
	</div>
	<div class="app-modal-body">
		<div class="container-fluid">
			<div class="row">

				<div class="form-group col-md-12">
				  <input class="col-md-9 form-input" name="toEmail" [(ngModel)]="toEmail" type="text" placeholder="to email" />
				</div>
				<div class="form-group col-md-12">
				  <input class="col-md-9 form-input" name="subject" [(ngModel)]="subject" type="text" placeholder="subject" />
				</div>
				<div class="form-group col-md-12">
				  <textarea class="col-md-9 form-input" name="body" [(ngModel)]="body"  placeholder="body"></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="app-modal-footer">
		<button type="button" class="btn btn-primary" (click)="saveToDrafts()">Save to drafts</button>
		<button type="button" class="btn btn-default" (click)="hideComposeBox()">Close</button>
		<button type="button" class="btn btn-primary" (click)="sendMail()">Send Mail</button>
	</div>
</app-modal>

<app-modal #mailViewModel> 
	<div class="app-modal-header">
		
	</div>
	<div class="app-modal-body">
		<div class="container-fluid">
			<div class="row" *ngIf='message'>

				<p ><b>{{message.subject}}</b></p>
				<p>{{message.body}}</p>
				<div *ngFor='let child of message.children'>
					<p>{{child.body}}</p>
				</div>
			</div>
			<div class='row' *ngIf='showReplyBox'>
				<textarea [(ngModel)]='message.repliedMessage'></textarea>
				<button (click)='sendReply(message)'>Reply</button>
			</div>

			<div class='row' *ngIf='showForwardBox'>
				<input type='text' placeholder='Enter email' [(ngModel)]='message.forwardMail' /><br />
				<textarea placeholder='Enter message' [(ngModel)]='message.forwardedMessage'></textarea>
				<button (click)='forward(message)'>send</button>
			</div>
		</div>
	</div>
	<div class="app-modal-footer">
		<button type="button" class="btn btn-primary" (click)="showForwardBox=true;">Forward</button>
		<button type="button" class="btn btn-default" (click)="mailViewModel.hide()">Close</button>
		<button type="button" class="btn btn-primary" (click)="showReplyBox = true;">Reply</button>
	</div>
</app-modal>